.container {
    display: inline-block;
    margin-left: 20pt;
    padding-left: 5pt;
    padding-right: 5pt;
    background-color: white;
    border-radius: 20pt;
    border: 2pt solid rgb(18, 24, 113);
}

.select-container {
    margin-left: 20pt;
}

li {
    padding: 5px;
    border-bottom: 1px dotted gray;
}

h1{
    text-decoration-line : underline;
    margin-left: 80pt;
    text-decoration-color: rgb(123, 131, 233);
    text-shadow: 20pt black;
    color: rgb(18, 24, 113);
    
}

.title-container{
    background-color: dimgrey;
    padding: 1px;
    padding-left: 15pt;
    padding-right: 15pt;
    
}

h4{
    display: inline;
    color: aliceblue;
}

button{
    background-color: rgb(201, 220, 246);
    border: none;
    padding: 3px;
    box-shadow: 2px 2px 3px #666666;
    border-radius: 3px;
}

#space {
    padding-left: 20pt;
    padding-right: 50pt;
}

body {
    background-color: lightgray;
}

